---
export const prerender = true
import LinkBody from './link-body.astro'
import client, { gql } from '../GraphQLClient'

const { data, error } = await client.query(
  gql/* GraphQL */ `
    #graphql
    query FeedQuery {
      feed {
        id
        url
        description
        createdAt
      }
    }
  `,
  {},
)
---

<ul>
  {
    data?.feed.map((link, index) => {
      return (
        <li>
          <LinkBody link={link} index={index} transition:name="link" />
        </li>
      )
    })
  }
</ul>
