---
import Link from './feedLinkItem.astro'
import client, { gql } from '../GraphQLClient'

const {data, error} = await client.query(gql`
query FeedQuery {
		feed {
			id
			url
			description
			createdAt
		}
	}
`, {})

if (error) {
	console.error(error)
}

---

<ul>

	{data.feed.map(i => {
		return <li><Link {...i} /></li>
	})}

</ul>